<h1 id="cc-title" class="text-center">Divinity</h1>
<h1 id="cc-subtitle" class="text-center mb-5">{{name}} Pantheon</h1>

<p id="divinity-info" class="text-left mx-5 mb-5 p-2 rounded"><i>{{overview}}</i></p>

<div id="divinity-list-div" class="mx-5 d-flex align-content-around flex-wrap justify-content-center text-center">
    {{#each gods}}
    <a href="/divinity/{{../name}}-pantheon/{{this}}">{{this}}</a>
    {{/each}}
</div>
