<h1 id="cc-title" class="text-center mb-5">Divinity</h1>

<h1 id="cc-subtitle" class="text-left ml-5">{{name}} Pantheon</h1>
<div id="patron-main" class="mx-5 mb-2">
    <div id="patron-info" class="mb-5 px-3 pt-2 rounded">
        <p>{{overview}}</p>
    </div>

    <div id="patrons-list-div" class="d-flex flex-column align-content-around flex-wrap justify-content-center text-center ml-5">
        {{#each patrons}}
        <a href="/patrons/{{../name}}-pantheon/{{this}}">{{this}}</a>
        {{/each}}
    </div>
</div>