<h1 id="cc-title" class="text-center">{{main_title}}</h1>

<h2 id="cc-subtitle" class="text-center mb-5">{{sub_title}}</h2>

<h1 id="overview-title" class="text-left ml-5">Overview</h1>
<p id="overview-text" class="text-left mx-5 mb-5">{{overview}}</p>

<h1 id="boon-title" class="text-left ml-5">Boons</h1>

<div id="boons" class="mb-5 ml-5">
    {{#each boons}}
    <div class="row d-flex ml-1 mx-auto">
        <b>{{boon_name}}</b>
        <p class="mx-1">-</p>
        <p>{{boon_desc}}</p>
    </div>
    {{/each}}
</div>